body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}
.card {
  transition: 0.3s;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
input.form-control, select.form-select {
    height: 45px;
    border-radius: 8px;
}

.navbar .nav-link.active {
  border-bottom: 2px solid #fff;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

footer a:hover {
  color: #0dcaf0;
  transform: scale(1.1);
  transition: 0.2s;
}
