body {
  font-family: 'Poppins', sans-serif;
}
.card {
  transition: 0.3s;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
input.form-control, select.form-select {
    height: 45px;
    border-radius: 8px;
}
